@model List<SimpleDb.Models.RequestForList>

@{
  ViewBag.Title = "Zgłoszenia";
}

<h2>Zgłoszenia</h2>

<section id="data">
  <table class="table">
    <tr>
      <th>Identyfikator</th>
      <th>Nazwa klienta</th>
      <th>Data zgłoszenia</th>
      <th>Priorytet</th>
      <th>Rodzaj</th>
      <th>Status</th>
      <th>Data rozwiązania</th>
      <th></th>
      <th></th>
    </tr>
    @foreach (var request in Model)
    {
      <tr>
        <td>
          @request.Identifier.ToString("N").ToUpper()
        </td>
        <td>
          @request.ClientName
        </td>
        <td>
          @request.Date
        </td>
        <td>
          @request.RequestPriority
        </td>
        <td>
          @request.RequestType
        </td>
        <td>
          @request.RequestStatus
        </td>
        <td>
          @request.ResolveDate
        </td>
        @if (!request.ResolveDate.HasValue)
        {
          <td>
            <a href="/Request/Assign?id=@request.Identifier" class="btn btn-default">
              Przypisz pracowników
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </a>
          </td>
          <td>
            <a href="/Request/Closing?id=@request.Identifier" class="btn btn-default">
              Zamknij
              <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            </a>
          </td>
        }
        else
        {
          <td></td>
          <td></td>
        }
      </tr>
    }
  </table>
</section>

